.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 20px;
}

.news_top_block_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textArea{
    border-radius: 10px;
    justify-content: center;
    width: 502px;
    height: 52px;
    resize: none;
    font-size: 20px;
    line-height: 50px;

}
textarea::-webkit-input-placeholder {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 50px;
    
}
.news_top_block{
    display: flex;
    align-items: center;
    flex-direction: column;
}