.posts {
    margin-top: 5px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
.posts h1{
    color: #4a76a8;
}

.addPostForm{
    display: flex;
}

.handleSubmitForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.handleSubmitForm textarea{
    display: flex;
    align-items: center;
    height: 30px;
    width: 400px;
    font-size: 15px;
    resize: none;
    background-color: #fff;
    border-radius: 10px;
    line-height: 30px;
    text-indent: 10px;
}
 /* Отключил подсвечивание у textarea */
.handleSubmitForm textarea:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}