.wrapper {
    height: 100%;
    width: 100%;
    color: #000;
}
.preloader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
    margin-top: 70px;
}

.searchBox h1{
    color: gray;
}

.searchBox p {
    color: gray;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.userCardWrapper {
    display: flex;
    height: 130px;
    width: 300px;
    flex-grow: 1;
    margin: 5px 5px;
    padding: 5px;
    flex: 0 0 33.333333%;
    border: 2px solid #4a76a8;
    border-radius: 10px;

}
.userImageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.userCardWrapper button {
    border: 1px solid #fff;
    background-color: #fff;
}
.userCardWrapper button button {
    width: 77px;
    transition: 0.3s;
    border-radius: 3px;
    color: #4a76a8;
    border: 2px solid #4a76a8;
    padding: 3px;
}

.userCardWrapper button button:hover {
    color: #fff;
    background-color: #4a76a8;
    transition: 0.3s;
}
.userImage {
    width: 75px;
    height: 75px;
    border: solid 2px #4a76a8;
    border-radius: 50%;
} 
.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.userInfo ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.userInfo a{
    text-decoration: none;
    color: #000;
}

.pageItem{
    padding: 5px;
}

