/* .headerMain{
  grid-area: h;
  z-index: 0;
} */
.header {
  grid-area: h;
  background: #4a76a8;
  /* position: fixed; */
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}

.header--block {
  position: fixed;
}
.header img {
  height: 100%;
  width: 100px;
}

.loginBlock {
  color: aliceblue;
  text-decoration: none;
  padding: 0 20px;
  line-height: 100%;
  margin-right: 35px;
  display: flex;
  align-items: center;
  font-weight: 400;
  height: 100%;
}
.loginBlock:hover{
  background-color: #3a5d85;
}
.loginBlock a {
  color: aliceblue;
  text-decoration: none;
  padding: 0 20px;
  line-height: 100%;
  margin-right: 35px;
  display: flex;
  align-items: center;
  font-weight: 550;
  height: 100%;
}
.isEnter {
}
.isEnter:hover{
  background-color: #3a5d85;
}