
.headerWrapper {
  grid-area: h;
  background: #4a76a8;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.header{
  display: flex;
  justify-content: space-between;
}

.header img {
  height: 100%;
  width: 100px;
}

.loginBlock {
  color: aliceblue;
  text-decoration: none;
  padding: 20px 20px;
  line-height: 100%;
  margin-right: 35px;
  display: flex;
  align-items: center;
  font-weight: 400;
  height: 100%;
}
.loginBlock:hover{
  background-color: #3a5d85;
}
.loginBlock a {
  color: aliceblue;
  text-decoration: none;
  margin: 0 20px;
  line-height: 100%;
  margin-right: 35px;
  display: flex;
  align-items: center;
  font-weight: 550;
  height: 100%;
}

.loginBlock img{
  width: 10px;
  height: 10px;
  margin-left: 7px;
}
.isEnter:hover{
  background-color: #3a5d85;
}

.dropDownMenu ul {
  padding: 0;
  margin: 0;
  margin-top: 22px;
  right: 35px;
  width: 128.02px;
  position: absolute;
  border: 1xp solid #fff;
  border-radius: 3px;
  text-transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3a5d85;
}

.dropDownMenu li{
  color: #fff;
  list-style: none; 
}

.dropDownMenu li a{
  padding: 7px;
  display: flex;
}

.dropDownMenu li:hover{
}




