.friendItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 33.333333%;
    font-size: 12.5px;
    margin-bottom: 10px;
}

.friendItem img{
    margin-bottom: 7px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}