.descriptionBlock{
    width: 100%;
    display: flex;
    background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 100px;
}

.leftBlock{
    width: 30%;
}

.rightBlock {
    width: 70%;
}

.imgWrapper{
    position: relative;
    height: 350px;
    background: #FFF;
}
.imgWrapper:hover .mask {
    opacity: 1;
    transition: all 300ms ease-in-out;
}
.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(133, 133, 133, 0.3);
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.profileBackground{
    position: relative;
    height: 100%;
    width: 100%;
}

.imgWrapper:hover .profileBackgroundButtonChange{
    opacity: 1;
    transition: all 900ms ease-in-out;

}
.profileBackgroundButtonChange {
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 40px;
    top: 45%;
    background: #4a76a8;
    left: 40%;
    color:#FFF;
    border: 2px solid #FFF;
    font-size: 20px;
    border-radius: 10px;
    /* #4a76a8 */
}

.profilePhotoBlock {
    display: flex;
    justify-content: center;
}

.profilePhoto {
    width: 70%;
    height: 100%;
}

.mainInfo h1 {
    margin: -2px;
    font-size: 30px;
}

.infoBLock {
    
}

.fullInfo span {
    font-size: 15px;
    color: #808080;
}


