/* TODO: 
* Сделать так, чтобы, сообщения позвались по разным частям экрана
* Адаптивная верстка
*/


.dialogs{
    display: flex;
    flex-direction: row;
    /* justify-content: stretch; */
    /* flex: 1; */
    justify-content: center;
    height: calc(100vh - 70px);
    width: (100% - 10px);
    background-color: #fff;
    padding: 0 5px;
}

.dialogs section:first-child {
    margin-right: 10px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dialogs section:last-child {
    width: calc(100% - 300px);
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
}

