.dialogs{
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    margin: auto;
}


.dialogs .dialogs_item {
    border: 3px solid #000;
    width: 30%;
}

.active {
    color: gold;
}

.messages {
    border: 1px solid #000;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.messagesHeader{
    display: flex;
    justify-content: space-around;
    
}

.messagesHeaderPhotoItem{
    justify-content: flex-end;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}

.border {
    border: 1px solid #000;
}

.messages .message {
    font-size: 20px;
    color: pink;
}

.sendMessages {
    display: flex;
}
