.settings {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.settings_general {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: auto;
    margin-right: 40px;
}

.settings_general span {
    color: #656565;
    padding: 6px 10px 6px 0;
    line-height: 16px;
}

/* .settings_navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #656565;
    margin: 15px 0 0;
    
}

.settings_navigation a{
    text-decoration: none;
    height: 32px;
    line-height: 31px;
    
    color: #2a5885;
    font-size: 15px;
}
*/
.settings_navigation {
    width: 230px;
    height: 270px;
}


.settings_navigation ul {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    display: flex;
    flex-direction: column;
    border-radius: 4px;

}

.settings_navigation li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    height: 32px;
}


.settings_navigation li:hover {
    background-color: #f0f2f5;
    border-left: 2px solid #2a5885
}


.settings_navigation__active {}